 body {
   background-image: url(/assets/images/happy-background.jpg);
   background-size: cover;
   background-repeat: no-repeat;
 }


 /* header */
 /* .jumbotron {
   background-image: linear-gradient(to right, #fff30e, #e23003);
   color: white;
   justify-content: center;
   border: solid rgb(251, 112, 19) 5px;
   background-color: rgba(245, 245, 245, 0.5);
   padding: 20px;
   margin: auto;
   text-align: center;
   height: 150px;
 } */




 .happy-cow {
   display: flex;
   justify-content: center;
   padding-bottom: 100px;
   height: 200px;
 }



 main {
   justify-content: left;
   border: solid rgb(251, 112, 19) 5px;
   border-top: 0px;
   background-color: rgba(245, 245, 190, 0.5);
 }
 


 h4 {
  text-align: center;
 }