* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/assets/images/loved-background.jpg);
  background-size: cover;
  background-attachment: fixed; 
  background-repeat: no-repeat;
}

header {
  background: linear-gradient(to right,  #f3b8dd, #93387f);
  color: white;
  text-align: center;
  border: 5px solid transparent;
  border-image: linear-gradient(to right, #93387f,  #f3b8dd);
  border-image-slice: 1;
  background-color: rgba(245, 245, 245, 0.5);
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 200px; 
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  height: 30px;
  padding-top: 20px;
  padding-bottom: 35px;
  text-align: center;
  text-shadow: 4px 4px 8px rgba(218, 27, 252, 0.796);
  font-family: 'Great Vibes', cursive;
}

.loved-cow {
  height: 150px;
  width: 150px;
}

nav {
  background-color: rgba(235, 198, 243, 0.509);
  height: 300px;
  text-shadow: 4px 4px 8px rgba(11, 11, 5, 0.584);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  color: #93387f;
  font-size: 31px;
  margin-bottom: 50px;
  padding-top: 60px;
  height: 20px;
  text-shadow: 4px 4px 8px rgba(80, 74, 74, 0.8);
}

.instructions {
  color: rgba(0, 0, 0, 0.208); 
  font-size: 27px;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: none;
}

.quote-container {
  display: none;
  text-align: center;
  margin-top: 10px; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 100%; 
}

blockquote {
  font-size: 18px; 
  font-weight: bold;
  color: #93387f;
  margin-top: 30px;
  height: 70px;
}

#author {
  color: #555;
  height: 20px;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

#generate-button,
.save-button, .myfav-button {
  background-color: #93387f;
  color: white;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#generate-button,
.save-button, .myfav-button {
  height: 60px;
  width: 100px;
  background-color: #93387f;
  color: white;
  border: none;
  padding: 8px 16px; 
  font-size: 14px; 
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.save-button, .myfav-button {
  display: none; /* Hhide buttons by default */
}

#generate-button {
  margin-bottom: 100px;
}

#generate-button:hover {
  background-color: #f0fd42;
  color: rgb(252, 11, 11);
}

#save-button:hover {
  background-color: #f0fd42;
  color: rgb(252, 11, 11);
}

#myfav-button:hover {
  background-color: #f0fd42;
  color: rgb(252, 11, 11);
}

/* saved quotes container */
.saved-quotes-container {
  display: none; /* Hide saved quotes container by default */
  text-align: center;
  margin-top: 20px;
}

/* saved quotes container when the class is toggled */
.show-saved-quotes .saved-quotes-container {
  display: block;
}

/* saved quotes */
.saved-quote {
  border: 2px solid #93387f;
  background-color: rgba(235, 198, 243, 0.509);
  padding: 10px;
  margin: 10px;
  text-align: center;
  height: auto; 
}

.saved-quote p {
  font-size: 18px;
  color: #333;
  padding: 5px 10px; 
  border: 1px 1px solid #93387f; 
  background-color: rgba(255, 255, 255, 0.8); 
}

/* little notification window for user to indicate that his quote was saved */
.notification {
  position: absolute;
  top: calc(60% + 10px); 
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  display: none;
}
