/* //////////////////////////////// */
/* Main homescreen body */
/* //////////////////////////////// */


body {
  background-image: url(/assets/images/home-background.png);
  background-size: cover;
  background-attachment: fixed;
  color: black;
}


header h1 {
  background: linear-gradient(to right, #7adcfd, #071c97);
  color: white;
  justify-content: center;
  border: solid #071c97 5px;
  box-sizing: border-box;
  border-image: linear-gradient(to right, #071c97, #7adcfd);
  border-image-slice: 1;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 20px;
  padding: 20px;
  margin: 20px 100px;
  text-align: center;
  height: 150px;
  
}

 h1 {
  color: rgb(255, 255, 255);
  height: 30px;
  padding-top: 10px;
  text-align: center;
  text-shadow: 4px 4px 8px #7adcfd;
  font-family: 'Roboto', sans-serif;
 }

nav {
  display: flex;
  justify-content: center;
}


.cowmascot {
  height: 600px;
}


.moodBtn {
  display: flex;
  justify-content: center;
  border: solid black 5px;
  background-color: rgba(177, 246, 244, 0.643);
  border-radius: 10px;
  padding: 10px;
  margin: 40px auto;
  list-style: none;
}

#happybtn:hover {
  background-color: rgba(255, 251, 3, 0.8);
  cursor: grab;
}

#sadbtn:hover {
  background-color: rgba(3, 91, 255, 0.8);
  cursor: grab;
}

#stressbtn:hover {
  background-color: rgba(3, 255, 137, 0.8);
  cursor: grab;
}

#angrybtn:hover {
  background-color: rgba(255, 3, 3, 0.7);
  cursor: grab;
}

#lovebtn:hover {
  background-color: rgba(255, 3, 213, 0.7);
  cursor: grab;
}

main {
  display: flex;
  justify-content: center;
  border: solid black 5px;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 20px;
  margin: 70px;
  margin-top: 40px;
  padding: 10px;
}


footer p {
  display: flex;
  justify-content: center;
  border: solid black 5px;
  background-color: rgba(177, 246, 244, 0.643);
  border-radius: 20px;
  padding: 10px;
  margin: 30px 40%;
  
}

/* //////////////////////////////// */
/* END OF MAIN HOME-SCREEN */
/* /////////////////////////////// */