/* //////////////////////////////// */
/* Main homescreen body */
/* //////////////////////////////// */
body {
background-image: url(/assets/images/homescreen.png);
background-size: cover;
background-attachment: fixed;
color: black;
}


header h1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: solid black 5px;
  background-color: rgba(245, 245, 245, 0.5);
  padding: 20px;
  margin: auto;
  text-align: center;
}


nav {
  display: flex;
  justify-content: center;
}


.cowmascot {
  height: 600px;
}


li {
  display: flex;
  justify-content: center;
  border: solid black 5px;
  background-color: rgba(177, 246, 244, 0.643);
  padding: 10px;
  margin: 45px auto;
  list-style: none;
}


main {
  display: flex;
  justify-content: center;
  border: solid black 5px;
  background-color: rgba(245, 245, 245, 0.5);
  margin: 70px;
  margin-top: 40px;
  padding: 10px;
}


footer p {
  border: solid black 5px;
  background-color: rgba(177, 246, 244, 0.643);
  padding: 10px;
  margin: 30px 40%;
  display: flex;
  justify-content: center;
}

/* //////////////////////////////// */
/* END OF MAIN HOME-SCREEN */
/* /////////////////////////////// */